# 1. Data Cleaning

In [34]:
import numpy as np 
import pandas as pd

In [35]:
data = pd.read_csv("data.csv")
df = pd.DataFrame(data)
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/01/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/01/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/01/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/01/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/01/2010 8:26,3.39,17850.0,United Kingdom

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [37]:
df.shape

(541909, 8)

In [38]:
df.columns = df.columns.str.lower()

In [39]:
df['is_cancelled'] = df['invoiceno'].str.startswith("C")

In [65]:
df['invoicedate'] = pd.to_datetime(df['invoicedate'])

In [69]:
df['description'] = df['description'].fillna('Unknown')

In [70]:
df.isnull().sum()

invoiceno            0
stockcode            0
description          0
quantity             0
invoicedate          0
unitprice            0
customerid      135080
country              0
is_cancelled         0
invoice_date         0
invoice_time         0
dtype: int64

In [77]:
df = df.drop_duplicates()

In [80]:
bad_desc = ['Unknown', '?', 'faulty', 'damages', None]

df.loc[:, 'description'] = df.apply(lambda x: x['description'] if x['description'] not in bad_desc else x['stockcode'], axis=1)

In [81]:
df.to_csv('cleaned_data.csv', index=False)