# 2. Feature Engineering

In [55]:
import numpy as np 
import pandas as pd

In [56]:
data = pd.read_csv("cleaned_data.csv")
df = pd.DataFrame(data)
df.head()

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country,is_cancelled,invoice_date,invoice_time
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,False,2010-12-01,08:26:00
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,False,2010-12-01,08:26:00
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,False,2010-12-01,08:26:00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,False,2010-12-01,08:26:00
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,False,2010-12-01,08:26:00

In [57]:
# Net sales per row
df['net_sales'] = df['quantity'] * df['unitprice']

In [58]:
# Flag returns
df['is_return'] = df['quantity'] < 0

In [59]:
df['invoicedate'] = pd.to_datetime(df['invoicedate'])

In [60]:
# Extract month/year from invoice_date 
df['invoice_month'] = df['invoicedate'].dt.to_period('M')
df['invoice_year'] = df['invoicedate'].dt.to_period('Y')

In [61]:
# weekday or hour for purchase patterns
df['invoice_day'] = df['invoicedate'].dt.day_name()
df['invoice_hour'] = df['invoicedate'].dt.hour

In [65]:
df.to_csv('featured_data.csv', index=False)